<h1>Hello Welcome to Send-A-SMS!</h1>
    <p> For your convience, please enter the following:</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:name, "Name:") %><br>
  <%= text_field_tag(:name) %> <br>
    <%= label_tag(:message, "Message:") %> <br>
  <%= text_field_tag(:message) %> <br>
    <%= label_tag(:number, "Number:") %><br>
  <%= text_field_tag(:number) %><br><br>
<%= submit_tag("Submit") %>
 
<% end %>
