<head>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/kaalm1/si-dev-assessment/master/vendor/assets/stylesheets/styles.css">
</head>

<div class="form-style-2">
<div class="form-style-2-heading">Welcome to Send-A-SMS!</div>
<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:name, "Name:", :class => "form-style-2-label") %>
  <%= text_field_tag(:name,nil,:class => "input-field") %> <br><br>
      <%= label_tag(:number, "Number:",:class => "form-style-2-label") %>
  <%= text_field_tag(:number, nil,:class => "tel-number-field") %><br><br>
  <%= label_tag(:message, "Message:", :class => "form-style-2-label") %> 
  <%= text_field_tag(:message,nil, :class => "textarea-field") %> <br><br>

<%= submit_tag("Submit") %>
<% end %>
</div>



